odoo-addon-account_invoice_transmit_method==18.0.*
odoo-addon-connector==18.0.*
odoo-addon-mis_template_financial_report==18.0.*
odoo==18.0.*
odoo-addon-account_invoice_transmit_method==18.0.*
odoo-addon-connector==18.0.*
odoo-addon-mis_template_financial_report==18.0.*
odoo==18.0.*
odoo-addon-account_invoice_transmit_method==18.0.*
odoo-addon-connector==18.0.*
odoo-addon-mis_template_financial_report==18.0.*
odoo==18.0.*
